#map {
  height: 600px;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

path{
  fill: transparent;
  stroke: #d5d5d5;

  &.secondary{
    stroke-width: 4;
  }

  &.primary{
    stroke-width: 4;
  }

  &.trunk{
    stroke-width: 6;
  }

  &.tertiary{
    stroke-width: 2;
  }

  &.footway{
    stroke-dasharray: 2,2
  }

  &.park{
    fill: #B1ADA5
  }

  &.forest{
    fill: #397628
  }
}

#mapArea{
  height: 600px;
  border: 1px solid #d5d5d5;
}

#loader{
  height: 300px;
  line-height: 300px;
  text-align: center;
}