<div class="row">
    <div class="col-xs-12">
        <div class="well">
            <button class="btn btn-primary" ng-click="home.drawBuildings()"> Create Drawing
            </button>
            <button class="btn btn-primary" ng-click="home.test()"> Test
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div id="map" dotf-map="home.map">
        </div>
    </div>
    <div class="col-xs-12 col-lg-6">
        <div id="mapArea">
            <svg id="svg" xmlns="http://www.w3.org/2000/svg" x="0" y="0" ng-show="home.hasDrawing && !home.isBusy">
            </svg>
            <div id="loader" ng-show="home.isBusy">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
            <div id="vis"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id='container'></div>
    </div>
</div>